<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Quiz Maker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    .error-message p
    {
        color: red;

    }
</style>
<body>
<!-- Navbar -->
<nav class="navbar">
    <div class="container">
        <a href="#" class="logo">Quiz Maker</a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="#" class="active">Login</a></li>
        </ul>
    </div>
</nav>

<!-- Login Section -->
<section class="login-section">
    <div class="container">
        <h1>Login</h1>
        <p>Login to your account as a Quiz Taker or Conductor</p>

        <!-- Role Toggle -->
        <div class="role-toggle">
            <label>
                <input type="radio" name="role" value="USER" checked onclick="toggleLoginRole('USER')">
                I'm a Quiz Taker
            </label>
            <label>
                <input type="radio" name="role" value="CONDUCTOR" onclick="toggleLoginRole('CONDUCTOR')">
                I'm a Quiz Conductor
            </label>
        </div>

        <!-- Login Form -->
        <form action="/login" method="post" id="login-form" class="login-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <input type="hidden" id="frole" name="frole">
            <button type="submit" class="submit-button" onclick="checkRole()">Login</button>
        </form>
        <div class="error-message">
            <p th:if="${wrongPassword}" th:text="${wrongPassword}"></p>
            <p th:if="${wrongRole}"  th:text="${wrongRole}"></p>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p>© 2024 Quiz Maker. All Rights Reserved.</p>
    </div>
</footer>
</body>
<script>
    function toggleLoginRole(role) {
        const roleInput = document.getElementById('frole');
        roleInput.value = role; // Update hidden input value based on selected role
    }

    function checkRole(){
        const role = document.getElementById('frole');
        if(role.value !== 'CONDUCTOR'){
            role.value = 'USER';
        }
    }

</script>
</html>
